
.Navbar-1{
    background-color: rgb(114, 130, 70);
    position: sticky;
    top: 0px;
    height:65px;
}
nav{
    display: flex;
    
}
.top-left{
    display: flex;
}
.menu-buttons{
    text-decoration: none;
    color:aliceblue;
    margin-left:19px;
    margin-top:17px;
}
.top-left input{
    width: 175px;
    height: 25px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 17px;
}
.home{
 border-radius: 50%;
 width: 40px;
 height: 40px;
 position: relative;
 top: 10px;
 left: 10px;
}


